{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Add Aalert</h2>
                    <p class="">Please upload your html file</p>
                    <form method="POST" action="/alert/add" enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" name="file" id="file">
                            <div>
                                <button type="submit" class="btn btn-primary save-button">
                                    Save <i class="fas fa-save"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}