{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid">


    <div class="row justify-content-center align-items-center vh-100">

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Add Html file for weekly boletin</h2>
    <p>In this section you will be able to upload an HTML file of the Weekly boletin, or download the current version</p>

                    <p class="">Looking to upload a alert boletin? <a href="/addalert" class="upload-link">Click here</a></p>
                    <form method="POST" action="/weekly/add" enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" name="file" id="file">
                            <div>
                                <button type="submit" class="btn btn-primary save-button">
                                    Upload <i class="fas fa-upload"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="text-center">
                        <a href="/download_weekly" class="btn btn-success"><i class="fas fa-download"></i> Download Current Version</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
