{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-70">
        <div class="col-md-6">
            <div class="card">
                
                <div class="card-body">
                    <h2 class="card-title text-center">Add Waterpoint Content</h2>
                    <p class="">Fill in the fields </p>
        
                    <form method="POST" action="/wpcontent/add">
                        <div class="mb-3">
                            <label for="name" class="form-label">title:</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                        <div class="mb-3">
                            <label for="adm1" class="form-label">Select waterpoint:</label>
                            <select class="form-select" id="waterpoint" name="waterpoint" required>
                                <option value="" disabled selected>Select  waterpoint</option>
                                {% for wp in waterpoint %}
                                    <option value="{{ wp.id }}">{{ wp.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="adm1" class="form-label">Select Caregory:</label>
                            <select class="form-select" id="typecontent" name="typecontent" required>
                                <option value="" disabled selected>Select category</option>
                                {% for tpc in typecontent %}
                                    <option value="{{ tpc.id }}">{{ tpc.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="adm1" class="form-label">Select Language:</label>
                            <select class="form-select" id="language" name="language" required>
                                <option value="" disabled selected>Select  language</option>
                                {% for lg in languages %}
                                    <option value="{{ lg.value }}">{{ lg.label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="type" class="form-label">Select a type :</label>
                            <select class="form-select" id="type" name="type" required>
                                <option value="" disabled selected>Select type</option>

                                {% for option in options %}
                                    <option value="{{ option }}">{{ option }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="type" class="form-label">Select position:</label>
                            <select class="form-select" id="position" name="position" required>
                                <option value="" disabled selected>Select position</option>

                                {% for pos in positions %}
                                    <option value="{{ pos }}">{{ pos }}</option>
                                {% endfor %}
                            </select>
                        </div>
                       
                        <div class="mb-3">
                            <h2 class="text-center">Values</h2>
                        </div>
                        <div id="values-container">
                            <!-- Dynamic Key-Value Fields Will Be Added Here -->
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-success add-button add" title="Add Field" onclick="addKeyValueField()">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <div class="text-center">
                            <button type="submit "class="btn btn-primary save-button">
                                Save <i class="fas fa-save"></i>  <!-- Icono de "save" -->
                            </button>
                            <!-- <button type="submit" class="btn  btn-primary float-center">Add wpcontent</button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function addKeyValueField() {
        var valuesContainer = document.getElementById('values-container');

        // Create a container for each pair of fields
        var fieldContainer = document.createElement('div');
        fieldContainer.className = 'mb-3';

        var keyInput = document.createElement('input');
        keyInput.type = 'text';
        keyInput.className = 'form-control';
        keyInput.placeholder = 'Key';
        keyInput.name = 'keys[]'; // Use an array to send multiple keys in form data

        var valueInput = document.createElement('input');
        valueInput.type = 'text';
        valueInput.className = 'form-control';
        valueInput.placeholder = 'Value';
        valueInput.name = 'values[]'; // Use an array to send multiple values in form data

        // Create a button to remove this pair of fields with a trash icon
        var removeFieldBtn = document.createElement('button');
        removeFieldBtn.type = 'button';
        removeFieldBtn.className = 'btn btn-danger float-end remove-button';
        
        // Create an icon element for removal
        var removeIcon = document.createElement('i');
        removeIcon.className = 'fas fa-trash'; // Assuming you're using FontAwesome icons
        removeIcon.title='Remove Field'
        // Append the icon to the remove button
        removeFieldBtn.appendChild(removeIcon);
        
        removeFieldBtn.onclick = function () {
            valuesContainer.removeChild(fieldContainer);
            checkRemoveButtonVisibility();
        };

        // Append the key and value input fields, then the remove button
        fieldContainer.appendChild(keyInput);
        fieldContainer.appendChild(valueInput);
        fieldContainer.appendChild(removeFieldBtn);

        valuesContainer.appendChild(fieldContainer);

        checkRemoveButtonVisibility();
    }

    function checkRemoveButtonVisibility() {
        var valuesContainer = document.getElementById('values-container');
        var fieldContainers = valuesContainer.querySelectorAll('.mb-3');
        var removeKeyValueBtn = document.getElementById('removeKeyValueBtn');

        if (fieldContainers.length >= 2) {
            removeKeyValueBtn.style.display = 'inline-block';
        } else {
            removeKeyValueBtn.style.display = 'none';
        }
    }
</script>
<script>
    $(document).ready(function(){
        $('[data-bs-toggle="tooltip"]').tooltip();
    });
</script>

<style>
    /* Estilos para centrar la "X" en el botón de remover */
    .remove-button {
        width: 27px; /* Ajusta el ancho según sea necesario */
        height: 27px; /* Ajusta la altura según sea necesario */
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }
    .add{
        border-radius: 50%;
        width: 27px; /* Ajusta el ancho según sea necesario */
        height: 27px;
        width: 27px; /* Ajusta el ancho según sea necesario */
        height: 27px; /* Ajusta la altura según sea necesario */
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }
</style>





{% endblock %}

