{% extends 'layout.html' %}
{% block body %}

<h5 class="" style="margin-left: 15px;">In this section, you will be able to add, edit, and delete data corresponding to Level 1 administrative divisions, related to zones.</h5>

<div class="container-fluid mt-5">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show position-fixed bottom-0 end-0 p-3 auto-dismiss-alert" role="alert" style="max-width: 300px;">
        <div class="pe-4" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
            {{ message }}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
    {% endfor %} 
    {% endif %}
    {% endwith %}

    <div class="row">

        <!-- lef conainer to add adm1-->
        <div class="col-md-6">
            <h2 class="card-title text-center">Add Adm1</h2>

            <div class="card">
                <div class="card-body">
            <p class="">Fill in the fields </p>

                    <form method="POST" action="/adm1/add">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name Adm1:</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="ext_id" class="form-label">Ext_id:</label>
                            <input type="number" class="form-control" id="ext_id" name="ext_id" required>
                        </div>
                        <div class="text-center">
                            <button type="submit "class="btn btn-primary save-button">
                                Save <i class="fas fa-save"></i>  <!-- Icono de "save" -->
                            </button>
                            <!-- <button type="submit" class="btn  btn-primary float-center">Add wpcontent</button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- right table to edit adm     -->
        <div class="col-md-6">
            <h2 class="text-center">List of Adm1 (zone)</h2>
            <div class="input-group mb-3">
                <input type="text" id="searchInput" class="form-control" placeholder="Search by name">
            </div>
            
            <table class="table table-striped table-bordered bg-white">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Ext Id</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for adm in adm1 %}
                    <tr>
                        <td>{{ adm.name }}</td>
                        <td>{{ adm.ext_id }}</td>
                        <td>
                            <div class="text-center">
                                <a href="/edit/{{ adm.id }}" class="btn btn-warning" data-bs-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i> </a>
                                <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ adm.id }}" data-bs-tooltip title="Delete"><i class="fas fa-trash-alt"></i></a>
                            </div>
                            
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="noResultsMessage" style="display: none; margin-top: 10px;">
                No matching results
            </div>
        </div>
    </div>
</div>

{% for adm in adm1 %}
<div class="modal fade" id="deleteModal-{{ adm.id }}" tabindex="-1" aria-labelledby="deleteModalLabel-{{ adm.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel-{{ adm.id }}">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this Zone?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="/delete/{{ adm.id }}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
<script>
    // Función para filtrar la tabla por cualquier cosa mientras escribes
    document.getElementById("searchInput").addEventListener("input", function() {
        var input, filter, table, tr, td, i, j, txtValue, hasMatch;
        input = this;
        filter = input.value.toUpperCase();
        table = document.querySelector(".table");
        tr = table.getElementsByTagName("tr");
        hasMatch = false; // Variable para rastrear si hay coincidencias

        for (i = 0; i < tr.length; i++) {
            tr[i].style.display = "none"; // Oculta todas las filas inicialmente
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = ""; // Muestra la fila si se encuentra coincidencia
                        hasMatch = true; // Hay coincidencia
                        break; // Rompe el bucle interior para evitar mostrar la fila múltiples veces
                    }
                }
            }
        }

        // Muestra el mensaje "No hay coincidencias" si no se encontraron coincidencias
        var noResultsMessage = document.getElementById("noResultsMessage");
        if (!hasMatch) {
            noResultsMessage.style.display = "block";
        } else {
            noResultsMessage.style.display = "none";
        }
    });
</script>
{% endfor %}

{% endblock %}
