{% extends 'layout.html' %}
{% block body %}
<h5 class="" style="margin-left: 15px;">In this section, you will be able to add, edit, and delete data corresponding to Level 2 administrative divisions, related to woreda.</h5>

<div class="container-fluid mt-5" style="height: 80vh;" >
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show position-fixed bottom-0 end-0 p-3 auto-dismiss-alert" role="alert" style="max-width: 300px;">
        <div class="pe-4" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
            {{ message }}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
    {% endfor %} 
    {% endif %}
    {% endwith %}

    <div class="row">
        <!-- lef conainer to add adm1-->
        

        <!-- right table to edit adm     -->
        <div class="row">
            <div class="container-md d-flex justify-content-between align-items-center">
                <h2>List of Adm2 (woreda)</h2>
                <a href="/addadm2" class="btn btn-primary">Add Adm2 <i class="fas fa-plus"></i></a>
            </div>
            
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Ext Id</th>
                        <th>Status</th>
                        <th>Adm1</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for adm in adm2 %}
                    <tr>
                        <td>{{ adm.name }}</td>
                        <td>{{ adm.ext_id }}</td>
                        <td>{{ "Enabled" if adm.trace.enabled else "Disabled" }}</td>

                        <td>
                            {% for a1 in adm1 %}
                            {% if a1.id == adm.adm1.id %}
                            {{ a1.name }}
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <div class="text-center">
                                {% if adm.trace.enabled %}
                                    <a href="/editadm2/{{ adm.id }}" class="btn btn-warning" data-bs-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i> </a>
                                    <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ adm.id }}" data-bs-tooltip title="Delete"><i class="fas fa-trash-alt"></i></a>
                                {% else %}
                                <a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#reset-{{ adm.id }}" data-bs-tooltip title="Recover"><i class="fas fa-undo"></i></a>
                                {% endif %}
                            </div>
                            
                            
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% for adm in adm2 %}
    <div class="modal fade" id="deleteModal-{{ adm.id }}" tabindex="-1" aria-labelledby="deleteModalLabel-{{ adm.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel-{{ adm.id }}">Confirm Deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete "{{ adm.name }}"?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="/deleteadm2/{{ adm.id }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reset-{{ adm.id }}" tabindex="-1" aria-labelledby="reset-{{ adm.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reset-{{ adm.id }}">Confirm Recover</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to recover "{{ adm.name }}"?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="/resetadm2/{{ adm.id }}" class="btn btn-success">Recover</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}


{% endblock %}



