{% extends 'layout.html' %} 
{% block body %}
<div class="">
  <h2 class="card-title text-center">Edit wpcontent</h2>

  <div class="card">
    <div class="card-body">
      <p class="">Fill in the fields</p>

      <form method="POST" action="/editwpcontent/{{wpcontent.id}}">
        <div class="mb-3">
          <label for="name" class="form-label">title:</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            value="{{wpcontent.content.title}}"
            required
          />
        </div>
        <div class="mb-3">
          <label for="wp" class="form-label">Select Waterpoint:</label>
          <select class="form-select" id="waterpoint" name="waterpoint" required>
              {% for wp in waterpoint %}
                  <option value="{{ wp.id }}" {% if wp.id == wpcontent.waterpoint.id %}selected{% endif %}>{{ wp.name }}</option>
              {% endfor %}
          </select>                            
      </div>
      <div class="mb-3">
        <label for="type" class="form-label">Select language :</label>
        <select class="form-select" id="language" name="language" required>
            {% for lg in languages %}
                <option value="{{ lg.value }}" {% if lg.value == wpcontent.content.language
                  %}selected{% endif %}>{{ lg.label }}</option>
            {% endfor %}
        </select>
    </div>
      <div class="mb-3">
        <label for="type" class="form-label"> <span class="bg-blue" data-toggle="tooltip" data-placement="top" title="Here you can select the category of content you want to save, these categories refer to certain values ​​such as livehood, Gender, agriculture among others.">
          <i class="fa fa-info-circle" style="font-size: 15px;"></i>
      </span>Select Category :</label>
        <select class="form-select" id="typecontent" name="typecontent" required>
            {% for tp in typecontent %}
                <option value="{{ tp.id }}" {% if tp.id == wpcontent.type.id %}selected{% endif %}>{{ tp.name }}</option>
            {% endfor %}
        </select>                            
    </div>
    
    <div class="mb-3">
      <label for="type" class="form-label"> <span class="bg-blue" data-toggle="tooltip" data-placement="top" title="Here you can select the type of content you want to add, this way it will be rendered in the web application.">
        <i class="fa fa-info-circle" style="font-size: 15px;"></i>
    </span>Select a type :</label>
      <select class="form-select" id="type" name="type" required>
          {% for option in options %}
              <option value="{{ option }}" {% if option == wpcontent.content.type %}selected{% endif %}>{{ option }}</option>
          {% endfor %}
      </select>
  </div>
  <div class="mb-3">
    <label for="type" class="form-label"> <span class="bg-blue" data-toggle="tooltip" data-placement="top" title="Here you can select where on the screen you want the content to be rendered, on the left or right of the screen.  ">
      <i class="fa fa-info-circle" style="font-size: 15px;"></i>
  </span>Select sosition :</label>
    <select class="form-select" id="position" name="position" required>
        {% for ps in positions %}
            <option value="{{ ps }}" {% if ps == wpcontent.content.position %}selected{% endif %}>{{ ps }}</option>
        {% endfor %}
    </select>
</div>
        <div class="mb-3">
          <h2 class="text-center">Values</h2>
        </div>
        <div id="values-container">
          {% for value in wpcontent.content['values'] %}
          <div class="value-pair mb-3">
            {% for key, val in value.items() %}
            <label for="">Key</label>
            <input
              type="text"
              class="form-control"
              name="keys[]"
              value="{{ key }}"
            />
            <label for="">Value</label>

            <input
              type="text"
              class="form-control"
              name="values[]"
              value="{{ val }}"
            />
            
            <button type="button" class="btn btn-danger float-end remove-button" title="Remove Field" onclick="removeValuePair(this)">
              <i class="fas fa-trash"></i>

            </button>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-success add-button add" title="Add Field" onclick="addKeyValueField()">
              <i class="fas fa-plus"></i>
          </button>
      </div>
       

        <div class="text-center">
          <button type="submit" class="btn btn-warning edit-button" type="button">
            <i class="fas fa-edit"></i> Edit
        </button>
        
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}
