{%extends 'layout.html' %}
{% block body%}
<div class="container-fluid d-flex justify-content-center " style="min-height: 80vh;">
    <div class="col-md-6">
        <h2 class="card-title text-center">Edit Watershed</h2>
    
        <div class="card">
    
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="/editwatershed/{{watershed.id}}">
                        <div class="mb-3">
                            <label for="adm1" class="form-label">Select Adm3:</label>
                            <select class="form-select" id="adm3" name="adm3" required>
                                <option value="" disabled selected>Select Adm3</option>
                                {% for adm in adm3 %}
                                    <option value="{{ adm.id }}">{{ adm.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name" value="{{watershed.name}}" required>
                        </div>
                        <div class="mb-3">
                            <label for="ext_id" class="form-label">Area:</label>
                            <input type="number" class="form-control" id="area" name="area" step="any" value="{{watershed.area}}" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Edit Watershed</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}
