{% extends 'layout.html' %} 
{% block body %}
<div class="conta">
  <h2 class="card-title text-center">Edit watershed content</h2>

  <div class="card">
    <div class="card-body">
      <p class="">Fill in the fields</p>

      <form method="POST" action="/editwscontent/{{wscontent.id}}">
        <div class="mb-3">
          <label for="name" class="form-label">title:</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            value="{{wscontent.content.title}}"
            required
          />
        </div>
        <div class="mb-3">
          <label for="wp" class="form-label">Select Watershed:</label>
          <select class="form-select" id="watershed" name="watershed" required>
              {% for ws in watershed %}
                  <option value="{{ ws.id }}" {% if ws.id == wscontent.watershed.id %}selected{% endif %}>{{ ws.name }}</option>
              {% endfor %}
          </select>                            
      </div>
      <div class="mb-3">
        <label for="type" class="form-label">Select language :</label>
        <select class="form-select" id="language" name="language" required>
            {% for lg in languages %}
                <option value="{{ lg.value }}" {% if lg.value == wscontent.content.language
                  %}selected{% endif %}>{{ lg.label }}</option>
            {% endfor %}
        </select>
    </div>
      <div class="mb-3">
        <label for="type" class="form-label"> <span class="bg-blue" data-toggle="tooltip" data-placement="top" title="Here you can select the category of content you want to save, these categories refer to certain values ​​such as livehood, Gender, agriculture among others.">
          <i class="fa fa-info-circle" style="font-size: 15px;"></i>
      </span>Select Category :</label>
        <select class="form-select" id="typecontent" name="typecontent" required>
            {% for tp in typecontent %}
                <option value="{{ tp.id }}" {% if tp.id == wscontent.type.id %}selected{% endif %}>{{ tp.name }}</option>
            {% endfor %}
        </select>                            
    </div>
    
    <div class="mb-3">
      <label for="type" class="form-label"> <span class="bg-blue" data-toggle="tooltip" data-placement="top" title="Here you can select the type of content you want to add, this way it will be rendered in the web application.">
        <i class="fa fa-info-circle" style="font-size: 15px;"></i>
    </span>Select a type :</label>
      <select class="form-select" id="type" name="type" required>
          {% for option in options %}
              <option value="{{ option }}" {% if option == wscontent.content.type %}selected{% endif %}>{{ option }}</option>
          {% endfor %}
      </select>
  </div>
  <div class="mb-3">
    <label for="type" class="form-label"> <span class="bg-blue" data-toggle="tooltip" data-placement="top" title="Here you can select where on the screen you want the content to be rendered, on the left or right of the screen.  ">
      <i class="fa fa-info-circle" style="font-size: 15px;"></i>
  </span>Select position :</label>
    <select class="form-select" id="position" name="position" required>
        {% for ps in positions %}
            <option value="{{ ps }}" {% if ps == wscontent.content.position %}selected{% endif %}>{{ ps }}</option>
        {% endfor %}
    </select>
</div>

        <div class="mb-3">
          <h2 class="text-center">Values</h2>
        </div>
        <div id="values-container">
          {% for value in wscontent.content['values'] %}
            <div class="value-pair mb-3">
              {% for key, val in value.items() %}
                <label for="">Key</label>
                <input
                  type="text"
                  class="form-control"
                  name="keys[]"
                  value="{{ key }}"
                />
                <label for="">Value</label>
                <input
                  type="text"
                  class="form-control"
                  name="values[]"
                  value="{{ val }}"
                />
              {% endfor %}
              
              <button type="button" class="btn btn-danger float-end remove-button" title="Remove Field" onclick="removeFieldValue(this)">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          {% endfor %}
        </div>
        
        <script>
          function removeFieldValue(button) {
            var valuePair = button.closest('.value-pair');
            valuePair.remove();
            checkRemoveButtonVisibility();
          }
        
          function checkRemoveButtonVisibility() {
            var valuesContainer = document.getElementById('values-container');
            var fieldPairs = valuesContainer.querySelectorAll('.value-pair');
            var removeKeyValueBtn = document.getElementById('removeKeyValueBtn');
        
            if (fieldPairs.length >= 2) {
              removeKeyValueBtn.style.display = 'inline-block';
            } else {
              removeKeyValueBtn.style.display = 'none';
            }
          }
        </script>
        
        
        <div class="text-center">
          <button type="button" class="btn btn-success add-button add" title="Add Field" onclick="addKeyValueField()">
              <i class="fas fa-plus"></i>
          </button>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-warning edit-button" type="button">
          <i class="fas fa-edit"></i> Edit
      </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
