<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Admin EWP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top" style="height: 80px; padding: 20px">
    <div class="container-fluid ">
        <a class="navbar-brand" href="/" style="color: white; font-size: 24px">EWP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" style="font-size: 18px">
                <li class="nav-item">
                    <a class="nav-link" href="/typecontent" style="color: white">Type Content</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
                        Admin Levels
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/">Adm1</a></li>
                        <li><a class="dropdown-item" href="/adm2">Adm2</a></li>
                        <li><a class="dropdown-item" href="/adm3">Adm3</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
                        Waterpoint
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/waterpoint">Waterpoint</a></li>
                        <li><a class="dropdown-item" href="/wpcontent">Waterpoint Content</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white">
                        Watershed
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/watershed">Watershed</a></li>
                        <li><a class="dropdown-item" href="/wscontent">Watershed Content</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>



  <body>
    <div class="container-fluid cont  " style="margin-top: 100px;">{% block body %} {% endblock %}</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        // Selecciona todas las alertas con la clase "auto-dismiss-alert"
        var autoDismissAlerts = document.querySelectorAll('.auto-dismiss-alert');
    
        // Itera a través de las alertas y cierra cada una después de 2 segundos
        autoDismissAlerts.forEach(function(alert) {
            setTimeout(function() {
                var bsAlert = new bootstrap.Alert(alert);
                bsAlert.close();
            }, 5000); // 2000 milisegundos = 2 segundos
        });
    </script>
   
    
  </body>
  <footer>
    <div class="container">
        <div class="row justify-content-between align-items-center py-3">
            <div class="col col-lg-4">
                <p className="">CIAT All Rights reserved</p>
            <a
              href="mailto: J.R.Villegas@cgiar.org"
              className="text-decoration-none text-white"
            >
              Email: J.R.Villegas@cgiar.org
            </a>
            </div>
            <div class="col d-flex flex-column flex-md-row align-items-center justify-content-between mt-3 d-lg-block col-lg-auto mt-lg-0">
                <p>Partners</p>
                <img src="../static/images/partner1.png"  alt="partner EIAR" className="me-3 mb-2 mb-md-0" />
                <img src="../static/images/partner2.png"  alt="partner Alliance" className="mx-3 my-2 my-md-0" />
                <img src="../static/images/partner3.png"  alt="partner Bill & Melinda Gates" className="mx-3 my-2 my-md-0" />
                <img src="../static/images/partner4.png"  alt="partner Minister" className="mx-3 my-2 my-md-0" />
                <img src="../static/images/partner5.png" alt="partner CGIAR" className="mx-3 my-2 my-md-0" />
            </div>
        </div>
        
        
    </div>
  </footer>
  <style>
    footer{
       
    background-color: #04335D;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
a{
    text-decoration: none;
}

.cont{
    margin-bottom: 130px;
}

  </style>
</html>
