{% extends 'layout.html' %}
{% block body %}
<h5 class="" style="margin-left: 15px;">In this section, you will be able to add, edit, and delete data corresponding to Level 3 administrative divisions, related to kebeles.</h5>

<div class="container-fluid mt-5" style="height: 100vh;">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show position-fixed bottom-0 end-0 p-3 auto-dismiss-alert" role="alert" style="max-width: 300px;">
        <div class="pe-4" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
            {{ message }}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
    {% endfor %} 
    {% endif %}
    {% endwith %}

    <div class="row">
        <!-- lef conainer to add adm1-->
        

        <!-- right table to edit adm     -->
        <div class="row">
            <div class="container-md d-flex justify-content-between align-items-center">
                <h2>List Waterpoint contents</h2>
                <a href="/addwpcontent" class="btn btn-primary">Add Content <i class="fas fa-plus"></i></a>
            </div>
            
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Type</th>
                        <th>Waterpoint</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>keys</th>
                        <th>Values</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for wpc in wpcontent %}
                        <tr>
                            <td>
                                {% for ct in typecontent %}
                                {% if ct.id == wpc.type.id %}
                                {{ ct.name }}
                                {% endif %}
                                {% endfor %}
                            </td>
                            
                            <td>{{ wpc.content.type }}</td>
                            <td>
                                {% for wp in waterpoint %}
                                {% if wp.id == wpc.waterpoint.id %}
                                {{ wp.name }}
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ wpc.content['trace']['created'].strftime("%Y-%m-%d") }}</td>
                            <td>{{ "Enabled" if wpc.content['trace']['enabled'] else "Disabled" }}</td>




                            <td>
                                {% set keys = [] %}
                                {% for value in wpc.content['values'] %}
                                    {% for key, val in value.items() %}
                                        {% set _ = keys.append(key) %}
                                    {% endfor %}
                                {% endfor %}
                                {{ keys|join(', ') }}
                            </td>
                            <td>
                                {% set values = [] %}
                                {% for value in wpc.content['values'] %}
                                    {% for key, val in value.items() %}
                                        {% set _ = values.append(val) %}
                                    {% endfor %}
                                {% endfor %}
                                {{ values|join(', ') }}
                            </td>
                            <td>
                                <div class="text-center">
                                    {% if wpc.content['trace']['enabled'] %}
                                        <a href="/editwpcontent/{{ wpc.id }}" class="btn btn-warning" data-bs-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i> </a>
                                        <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ wpc.id }}" data-bs-tooltip title="Delete"><i class="fas fa-trash-alt"></i></a>
                                    {% else %}
                                    <a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#reset-{{ wpc.id }}" data-bs-tooltip title="Recover"><i class="fas fa-undo"></i></a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% for wpc in wpcontent %}
    <div class="modal fade" id="deleteModal-{{ wpc.id }}" tabindex="-1" aria-labelledby="deleteModalLabel-{{ wpc.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel-{{ wpc.id }}">Confirm Deletion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this content?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="/deletewpcontent/{{ wpc.id }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reset-{{ wpc.id }}" tabindex="-1" aria-labelledby="reset-{{ wpc.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reset-{{ wpc.id }}">Confirm Recover</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to recover this content?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="/resetwpcontent/{{ wpc.id }}" class="btn btn-success">Recover</a>
                </div>
            </div>
        </div>
    </div>

<script>
    function addKeyValueField() {
        var valuesContainer = document.getElementById('values-container');

        // Create a container for each pair of fields
        var fieldContainer = document.createElement('div');
        fieldContainer.className = 'mb-3';

        var keyInput = document.createElement('input');
        keyInput.type = 'text';
        keyInput.className = 'form-control';
        keyInput.placeholder = 'Key';
        keyInput.name = 'keys[]'; // Use an array to send multiple keys in form data

        var valueInput = document.createElement('input');
        valueInput.type = 'text';
        valueInput.className = 'form-control';
        valueInput.placeholder = 'Value';
        valueInput.name = 'values[]'; // Use an array to send multiple values in form data

        // Create a button to remove this pair of fields with a trash icon
        var removeFieldBtn = document.createElement('button');
        removeFieldBtn.type = 'button';
        removeFieldBtn.className = 'btn btn-danger float-end remove-button';
        
        // Create an icon element for removal
        var removeIcon = document.createElement('i');
        removeIcon.className = 'fas fa-trash'; // Assuming you're using FontAwesome icons
        removeIcon.title='Remove Field'
        // Append the icon to the remove button
        removeFieldBtn.appendChild(removeIcon);
        
        removeFieldBtn.onclick = function () {
            valuesContainer.removeChild(fieldContainer);
            checkRemoveButtonVisibility();
        };

        // Append the key and value input fields, then the remove button
        fieldContainer.appendChild(keyInput);
        fieldContainer.appendChild(valueInput);
        fieldContainer.appendChild(removeFieldBtn);

        valuesContainer.appendChild(fieldContainer);

        checkRemoveButtonVisibility();
    }

    function checkRemoveButtonVisibility() {
        var valuesContainer = document.getElementById('values-container');
        var fieldContainers = valuesContainer.querySelectorAll('.mb-3');
        var removeKeyValueBtn = document.getElementById('removeKeyValueBtn');

        if (fieldContainers.length >= 2) {
            removeKeyValueBtn.style.display = 'inline-block';
        } else {
            removeKeyValueBtn.style.display = 'none';
        }
    }
</script>
<script>
    $(document).ready(function(){
        $('[data-bs-toggle="tooltip"]').tooltip();
    });
</script>

<style>
    /* Estilos para centrar la "X" en el botón de remover */
    .remove-button {
        width: 27px; /* Ajusta el ancho según sea necesario */
        height: 27px; /* Ajusta la altura según sea necesario */
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }
    .add{
        border-radius: 50%;
        width: 27px; /* Ajusta el ancho según sea necesario */
        height: 27px;
        width: 27px; /* Ajusta el ancho según sea necesario */
        height: 27px; /* Ajusta la altura según sea necesario */
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }
</style>


<style>
    /* Estilos para el contenedor de la izquierda */
    .sticky-container {
        position: sticky;
        top: 20px; /* Ajusta la distancia desde la parte superior según tus necesidades */
        height: calc(100vh - 40px); /* Ajusta la altura según tus necesidades */
        overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    }

    /* Estilos para las tablas en la derecha */
    .table {
        margin-right: 20px; /* Ajusta el margen derecho según el ancho del contenedor de la izquierda */
    }
   
</style>

{% endfor %}

{% endblock %}
